<section class="section">
  <h1 class="title">購物車

    <%= link_to cart_path, class: 'is-size-5', method: :delete, data: {confirm: '確定清空購物車?'} do %>
      <i class="fas fa-trash-alt"></i>
      <span>清空購物車</span>
    <% end %>
  </h1>

  <%= render 'cart' %>

  <%= link_to '繼續選購', root_path, class:"button is-medium" %>
  <%= link_to '結帳', checkout_cart_path, class:"button is-danger is-medium" if !current_cart.empty? %>

</section>